<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repositories.Properties.Settings.IORekrutacjaConnectionString"
            connectionString="Data Source=192.168.1.31;Initial Catalog=IORekrutacja;User ID=sa;Password=qwer1234;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>